.react-flow .react-flow__edges {
  z-index: 4;
  
}

.react-flow .react-flow__edge-path {
  stroke: #000;
}

.react-flow .react-flow__arrowhead polyline {
  stroke: #000;
}

.form-submitted .react-flow .react-flow__arrowhead polyline {
  stroke: red;
}

.react-flow  .react-flow__node {
  cursor: default;
}

.react-flow  .react-flow__handle.connectable {
  cursor: default;
}